<!DOCTYPE html>
<html lang= "pl" xmlns:th="http://www.thymeleaf.org">
<head th:include="layout :: head">
</head>
<body>
<div class="container">
<div th:include="layout :: navigationPanel"></div>
<h1>Zmiana hasła:</h1>
<form th:action="@{/change_password}" method="POST" >
  <input class="form-control" type="password" name="password" placeholder="Hasło"/><br />
  <input class="form-control" type="password" name="old_password" placeholder="Stare hasło"><br />
<!--  <input type="checkbox" name="is_password_kept_as_hash" />-->
  <input class="form-check-input" type="checkbox" name="is_password_kept_as_hash" th:checked="${user.is_password_kept_as_hash}" /> Trzymaj hasło jako hash<br />
  <button class="btn btn-primary" type="submit">Zapisz</button>
</form>
<div th:include="layout :: footer"></div>
</div>
</body>
</html>