<!DOCTYPE html>
<html lang= "pl" xmlns:th="http://www.thymeleaf.org">
<head th:include="layout :: head">
</head>
<body>
<div class="container">
<div th:include="layout :: navigationPanel"></div>
<!--<h1 th:text="'Witaj ' +${user.name} + ' ' + ${user.surname}"></h1>-->

<h1>Twoje hasła</h1>

    <a class="btn btn-primary" th:href="@{/passwords/add}">Dodaj hasło</a>
    <a th:unless="${edit}" class="btn btn-primary" th:href="@{/passwords/show/edit}">Tryb edycji</a>
    <a th:if="${edit}" class="btn btn-primary" th:href="@{/passwords/show}">Wyłącz tryb edycji</a>

<table class="table">
    <thead>
        <tr>
            <th>Hasło</th>
            <th></th>
            <th>Login</th>
            <th>Strona</th>
            <th>Opis</th>
            <th></th>
            <th></th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        <tr th:each="pass: ${passwords}">
            <td th:id="'pass_show_'+${pass.id}">&lt;Private&gt;</td>
            <td><input th:id="'pass_checkbox_'+${pass.id}" type="checkbox" hidden="hidden">
                <button class="btn btn-info" type="button" th:id="'pass_button_'+${pass.id}" th:onclick="'ShowPass('+${pass.id}+')'">Pokaż hasło</button></td>
            <td th:text="${pass.login}" />
            <td th:text="${pass.web_address}" />
            <td th:text="${pass.description}"/>
            <td><button class="btn btn-info" type="button" th:id="'share_button_'+${pass.id}" th:onclick="'showShareBox('+${pass.id}+')'">Udostępnij</button></td>

            <td th:unless="${edit}"><a class="btn btn-warning disabled" >Edytuj</a></td>
            <td th:unless="${edit}"><a class="btn btn-danger disabled" >Usuń</a></td>

            <td th:if="${edit}"><a class="btn btn-warning" th:href="@{/passwords/edit/{pass_id}(pass_id=${pass.id})}" >Edytuj</a></td>
            <td th:if="${edit}"><a class="btn btn-danger" th:href="@{/passwords/remove/{pass_id}(pass_id=${pass.id})}" >Usuń</a></td>
        </tr>
    </tbody>
</table>

<h1>Hasła od innych</h1>
<table class="table">
    <thead>
    <tr>
        <th>Hasło</th>
        <th></th>
        <th>Login</th>
        <th>Strona</th>
        <th>Opis</th>
        <th>Właściciel</th>
        <th></th>
        <th></th>
    </tr>
    </thead>
    <tbody>
        <tr th:each="pass: ${sharedPasswords}">
            <td th:id="'pass_show_'+${pass.id}">&lt;Private&gt;</td>
            <td><input th:id="'pass_checkbox_'+${pass.id}" type="checkbox" hidden="hidden">
                <button class="btn btn-info" type="button" th:id="'pass_button_'+${pass.id}" th:onclick="'ShowPass('+${pass.id}+',true)'">Pokaż hasło</button></td>
            <td th:text="${pass.mainPassword.login}" />
            <td th:text="${pass.mainPassword.web_address}" />
            <td th:text="${pass.mainPassword.description}"/>
            <td th:text="${pass.mainPassword.user.email}"></td>
            <td></td>
            <td></td>
<!--            <td><button class="btn btn-info" type="button" th:id="'share_button_'+${pass.id}" th:onclick="'showShareBox('+${pass.id}+')'">Udostępnij</button></td>-->

<!--            <td th:unless="${edit}"><a class="btn btn-warning disabled" >Edytuj</a></td>-->
<!--            <td th:unless="${edit}"><a class="btn btn-danger disabled" >Usuń</a></td>-->

<!--            <td th:if="${edit}"><a class="btn btn-warning" th:href="@{/passwords/edit/{pass_id}(pass_id=${pass.id})}" >Edytuj</a></td>-->
<!--            <td th:if="${edit}"><a class="btn btn-danger" th:href="@{/passwords/remove/{pass_id}(pass_id=${pass.id})}" >Usuń</a></td>-->
        </tr>
    </tbody>
</table>
<div th:include="layout :: footer"></div>

<!--<script type="text/javascript"-->
<!--        src="webjars/jquery/2.2.4/jquery.min.js"></script>-->

<script type="text/javascript" src="/js/main.js"></script>
</div>
</body>
<!--<script type="text/javascript">-->
<!--function ShowPass(id){-->
<!--    var temp = document.getElementById("pass_show_"+id);-->
<!--    var button = document.getElementById("pass_button_"+id);-->
<!--    if (temp.type === "password") {-->
<!--        temp.type = "text";-->
<!--        button.innerHTML = "Schowaj hasło";-->
<!--    }-->
<!--    else {-->
<!--        temp.type = "password";-->
<!--        button.innerHTML = "Pokaż hasło";-->
<!--    }-->
<!--}-->
<!--</script>-->
</html>

